<div class="list-group">
<% @images.each do |image| %>
    <%= link_to 'Image '+image.id.to_s,gallery_image_path(:gallery_id => @gallery.id, :id => image ), class: 'list-group-item' %>
<% end %>
</div>