<%= simple_form_for([@gallery, @gallery.images.build]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :avatar %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
